{% extends 'main.html' %}

{% block content %}
<div class="main">
  <div class="card_container" style="padding: 20px">
    <div class="card" style="margin-bottom: 40px; border: 2px solid #ffffff; background-color: #00ff99; box-shadow: 5px 10px 10px #008000;">

        <div class="card-body">
  <h2>Contributor Transactions</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Contributor</th>
        <th>Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.contributor.user.username }}</td>
          <td>{{ transaction.contribution_date}}</td>
          <td>{{ transaction.amount }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No transactions found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
{% endblock content %}
