{% extends 'main.html' %}

{% block content %}
<div class="main">
  <div class="card_container" style="padding: 20px">
    <div class="card" style="margin-bottom: 40px; border: 2px solid #ffffff; background-color: #00ff99; box-shadow: 5px 10px 10px #008000;">
      <div class="card-body">
        <h2>Contribution History - {{ contributor.user.username }}</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for contribution in history %}
              <tr>
                <td>{{ contribution.contribution_date }}</td>
                <td>{{ contribution.amount }}</td>
                <td>
                  <a class="fund-buttons" href="{% url 'fund:edit_contribution' contribution.id %}">Edit</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3">No contributions found.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
