{% extends 'main.html' %}
{% block content %}

{% load static %}

<div class="main">
    <div class="header">
        <h1 class="head-text">Profile</h1>
    </div>
    
        {% if user.is_superuser %}

        <a class="create-button" href="{% url 'admin-profile' %}">View Your Profile</a>
            <div class="profiles">
                {% for x in profile %}
                <div class="profile" style="background-color: #1a292f">
                    <div class="profle-header" style="padding: 20px">
                        <center><img src="/static/images/Profile-Icon.svg" alt="Profile Icon">
                        <h3>{{ x.first_name }} {{ x.last_name }}</h3></center>
                    </div>
                    <div class="profle-body" style="padding: 20px">
                        <p>Username: {{ x.user_id }}</p>
                        <p>Full Name: {{ x.first_name }} {{ x.last_name }}</p>
                        <p>Email: {{ x.email }}</p>
                        <p>Date of Birth: {{ x.dob }}</p>
                        <p>Created on: {{ x.created }}</p>
                        <p>Last Updated: {{ x.updated }}</p>

                        <br>
                        <a class="btn btn-primary" href="{% url 'update-profile' pk=x.pk %}">Edit</a>
                        {% comment %} <a class="btn btn-danger" href="{% url 'delete-profile' pk=x.user_id %}">Delete</a> {% endcomment %}
                    </div>
                </div>
                    
                    {% empty %}
                    <h4>No Profiles to show!<h4>
                    
                            
                {% endfor %}

            </div>
             
             
            {% else %}
                
                {% comment %} <h2>Welcome {{ request.user.username }}</h2>
                <p>Here is your data:</p> {% endcomment %}
                <div class="profiles">
                {% for x in profile  %}
                    <div class="profile">
                        <div class="profle-header" style="padding: 20px">
                            <center><img src="/static/images/Profile-Icon.svg" alt="Profile Icon"/> 
                            <h3>{{ x.first_name }} {{ x.last_name }}</h3></center>
                        </div>
                        <div class="profle-body" style="padding: 20px">
                            <p>Username: {{ x.user_id }}</p>
                            <p>Full Name: {{ x.first_name }} {{ x.last_name }}</p>
                            <p>Email: {{ x.email }}</p>
                            <p>Date of Birth: {{ x.dob }}</p>
                            <p>Created on: {{ x.created }}</p>
                            <p>Last Updated: {{ x.updated }}</p>
                        
                            <br>
                            <a class="btn btn-primary" href="{% url 'update-profile' %}">Edit</a>
                        </div>
                    </div>
                        
                        {% empty %}
                        <h4>You haven't created your profile yet.</h4>
                
                {% endfor %}
                </div>

        {% endif %}

</div>


{% endblock content %}
